In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('../stroopdata.csv')

In [5]:
df.describe()

       Congruent  Incongruent
count  24.000000    24.000000
mean   14.051125    22.015917
std     3.559358     4.797057
min     8.630000    15.687000
25%    11.895250    18.716750
50%    14.356500    21.017500
75%    16.200750    24.051500
max    22.328000    35.255000